html, body {
	height: 100%;
	width: 100%;
}

body{
	background-image: url('http://giffiles.alphacoders.com/438/438.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: green;
}

h1 {
	color: white;
}



div {
	display: inline-block;
	height: 20%;
	width: 20%;
	background-color: gray;
	margin: 10px;
}

button{
	text-align: center;
}



#philosopher{
	z-index: 100;

}

#name{
	color: white;
}